# Lists and Tuples
* Lists and Tuples are called compound data types
* Tuples are orderd sequence of different data types including tuples as well.
* Tuples are expressed in comma seperated elements within a paranthesis.

In [12]:
#Example of a tuple
tup1=('Disco',10.2,1)

# Print type of a tuple, it is tuple
type(tup1)

tuple

In [13]:
# Each element of a tuple can be accessed by index using a SQUARE bracket
# Index starting from 0, the first element
tup1[0]

'Disco'

In [14]:
#Last element of tup1
tup1[2]

1

In [15]:
#Negative index  last element is -1
tup1[-1]
# first element is -3
tup1[-3]

'Disco'

In [16]:
# Adding elements and create a new tuple from existing
tup2=tup1+("Hard Rock",10)

In [17]:
#Print first 3 elements of a tuple
#Below will print index 0, idex1 and the last item as index2 ,
tup2[0:3]

# print last 2 elements, the last element is +1 from the length of the tuple
tup2[3:5]

('Hard Rock', 10)

In [18]:
#length of the tuple
len(tup2)

5

In [19]:
#Tuples are immutable, means we cannot change them

In [20]:
#Sort a tuple
tup3=(10,11,9,8,15)
tup4=sorted(tup3)
tup4[0:5]

[8, 9, 10, 11, 15]

In [21]:
## Nested Tuple index

In [22]:
NT=(1,2,(10,"rock"))
## Selecting rock
NT[2][1]

'rock'

# LISTS

In [23]:
## Lists are also an ordered sequence, represented in square bracket. Where Tuples are in parantheses
## Lists are mutable

L=["Michael Jackson",10.2,1]

In [24]:
##We can also nest Tuples inside a List
L=["Michael Jackson",10.2,1,("rock",17,0)]

In [25]:
##Printing a LIST
L[0]

'Michael Jackson'

In [27]:
##Negative Index
L[-1][-3]

'rock'

In [28]:
L[0:2]

['Michael Jackson', 10.2]

In [36]:
##Concatenating Lists
L5=[1,2]
L6=L5+["a","b"]
L6[0:4]

[1, 2, 'a', 'b']

In [33]:
## List.extend. Concatenating another list into a List as seperate elements by adding each item as an element
##below the count of elements become 3 + 2
L1=[1,2,3]
L1.extend([4,5])
L1[0:6]

[1, 2, 3, 4, 5]

In [35]:
## List append , adds only 1 elemet to a list
##in append the count of elements become 4 + 1
L2=[1,2,3,4]
L2.append([5,6])
L2[0:len(L2)+1]

[1, 2, 3, 4, [5, 6]]

In [37]:
## Lists are mutable ,means we can change elements
L7=["a","b","c"]
L7[0]="aa"
L7[0:3]

['aa', 'b', 'c']

In [38]:
## delete an element
L8=[1,2,3,4]
del(L8[0])
L8[0:len(L8)+1]

[2, 3, 4]

In [39]:
##Convert String to List
"hard rock".split()

['hard', 'rock']

In [41]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [42]:
##Clone a list
A=[1,2,3]
B=A[:]

In [43]:
B[0:3]

[1, 2, 3]

In [46]:
## Print a list just by using the variable name
print (B)
print (B[0])

[1, 2, 3]
1